.navtit{
  font-size: xx-large;
  font-weight: bold;
}

.nav-link{
  margin-right: 2%;
}

.form-signin{
  max-width: 30%;
  margin-top: 50%;
  padding: 2%;
}


.form-control:focus{
  border: solid #17a2b8 2px;
  box-shadow: none;
  outline: none;

}

.btn-outline-light{
  border: none;
}

.btn-outline-info{
  border: none;
}

.container-footer{
  background-color: #222;
  color: white;
}

.btn-outline-dark{
  border: none;
}

.powerBI{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}