.navtit{
  font-size: xx-large;
  font-weight: bold;
}

.nav-link{
  margin-right: 20%;
}

.form-signin{
  max-width: 30%;
  margin-top: 50%;
  padding: 2%;
}


.form-control:focus{
  border: solid #17a2b8 2px;
  box-shadow: none;
  outline: none;

}